<template>
  <v-layout align-center justify-space-around row>
    <v-flex  >
      <div class="logginn white elevation-2">
        <v-toolbar flat dense class="cyan" dark>
          <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
          <div>
            <input
              type="email"
              name="epost"
              v-model="email"
              placeholder="epost"/>
            <br>
            <input
            type="password"
            name="passord"
            v-model="password"
            placeholder="passord"/>
            <br>
            <div class="error" v-html="error"/>
            <button
              @click="register"> 
              Register
            </button>

          </div>
        </div>
      </v-flex>
  </v-layout>
</template>

<script>

  import AuthenticationService from '@/services/AuthenticationService'
  export default {
    //Fyller inn e-post og passordfelt
    data(){
      return{
        email: '',
        password: '',
        error: null
      }
    },
    methods:{
      async register(){
        try{
          await AuthenticationService.register({
          email: this.email,
          password: this.password
          })
        } catch(error){
          this.error = error.response.data.error
        }
       
      }
    }
  }
 
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .error{
    color:red;
  }
  .logginn{
    margin-top: 5%;
    margin-left:30%;
    margin-right: 30%;
  }
  input{
    margin-top: 5px;
    padding:5px;
    border: 1px solid black;
  }

  button{
    margin:10px 0 10px 0;
    padding:5px 3px 5px 3px;
    background-color:rgb(19, 17, 17);
    color:white;
  }
</style>
